<div class="layout">
  <div class="overlay"></div>
  <div class="masthead"></div>
  <div class="content">
    <div style="width: 100%">
      <div class="content-text">
        XXXXXXXXXXXXXX
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="name">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" (click)="login()">確認</button>
        </div>
      </div>
    </div>
  </div>
</div>
